<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width: 80%; margin:auto;">
    <div class="carousel-inner">
    <div class="carousel-item active">
        <!-- Primera tarjeta -->
            <div class="row">
                <div class="col-2">
                    <div class="card" style="width: 10rem; margin-top: 20px; height: 200px;">
                        <div class="card-body" style="color:green;">
                            <div>
                                <span class="fas fa-graduation-cap"></span>
                            </div>
                            <h5 class="card-title">Estudiar</h5>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Escolarizar</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Pasen</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Becas</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card" style="width: 10rem; margin-top: 20px; height: 200px;">
                        <div class="card-body" style="color:green;">
                            <div>
                                <span class="fas fa-graduation-cap"></span>
                            </div>
                            <h5 class="card-title">Estudiar</h5>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Escolarizar</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Pasen</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Becas</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-2">
                    <div class="card" style="width: 10rem; margin-top: 20px; height: 200px;">
                        <div class="card-body" style="color:green;">
                            <div>
                                <span class="fas fa-graduation-cap"></span>
                            </div>
                            <h5 class="card-title">Estudiar</h5>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Escolarizar</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Pasen</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Becas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2 carousel -->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-2">
                        <div class="card" style="width: 10rem; margin-top: 20px; height: 200px;">
                            <div class="card-body" style="color:green;">
                                <div>
                                    <span class="fas fa-graduation-cap"></span>
                                </div>
                                <h5 class="card-title">Estudiar</h5>
                                <div style="margin-top:10px;">
                                    <a href="#" class="card-link">Escolarizar</a>
                                </div>
                                <div style="margin-top:10px;">
                                    <a href="#" class="card-link">Pasen</a>
                                </div>
                                <div style="margin-top:10px;">
                                    <a href="#" class="card-link">Becas</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="card" style="width: 10rem; margin-top: 20px; height: 200px;">
                            <div class="card-body" style="color:green;">
                                <div>
                                    <span class="fas fa-graduation-cap"></span>
                                </div>
                                <h5 class="card-title">Estudiar</h5>
                                <div style="margin-top:10px;">
                                    <a href="#" class="card-link">Escolarizar</a>
                                </div>
                                <div style="margin-top:10px;">
                                    <a href="#" class="card-link">Pasen</a>
                                </div>
                                <div style="margin-top:10px;">
                                    <a href="#" class="card-link">Becas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2">
                        <div class="card" style="width: 10rem; margin-top: 20px; height: 200px;">
                            <div class="card-body" style="color:green;">
                                <div>
                                    <span class="fas fa-graduation-cap"></span>
                                </div>
                                <h5 class="card-title">Estudiar</h5>
                                <div style="margin-top:10px;">
                                    <a href="#" class="card-link">Escolarizar</a>
                                </div>
                                <div style="margin-top:10px;">
                                    <a href="#" class="card-link">Pasen</a>
                                </div>
                                <div style="margin-top:10px;">
                                    <a href="#" class="card-link">Becas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 3 carousel -->
            <div class="carousel-item">
                <div class="row">
                <div class="col-2">
                    <div class="card" style="width: 10rem; margin-top: 20px; height: 200px;">
                        <div class="card-body" style="color:green;">
                            <div>
                                <span class="fas fa-graduation-cap"></span>
                            </div>
                            <h5 class="card-title">Estudiar</h5>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Escolarizar</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Pasen</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Becas</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card" style="width: 10rem; margin-top: 20px; height: 200px;">
                        <div class="card-body" style="color:green;">
                            <div>
                                <span class="fas fa-graduation-cap"></span>
                            </div>
                            <h5 class="card-title">Estudiar</h5>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Escolarizar</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Pasen</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Becas</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-2">
                    <div class="card" style="width: 10rem; margin-top: 20px; height: 200px;">
                        <div class="card-body" style="color:green;">
                            <div>
                                <span class="fas fa-graduation-cap"></span>
                            </div>
                            <h5 class="card-title">Estudiar</h5>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Escolarizar</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Pasen</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a href="#" class="card-link">Becas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>