<div class="col-7" style="font-size: 13px; margin-top: 10px;">
    <div class="row" style="margin-top:10px;margin-left: 15px;text-align: center; color:green">
        <div class="col-1">
            <div>
                <i class="fa fa-graduation-cap" aria-hidden="true"> </i> 
            </div> 
            Estudiar
        </div>
        <div class="col-1">
            <div>
                <i class="fa fa-briefcase" aria-hidden="true"></i>
            </div>
            Trabajar
        </div>
        <div class="col-1">
            <div>
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
            </div> 
            Tu salud
        </div>
        <div class="col-1">
            <div>
                <i class="fa fa-th" aria-hidden="true"></i>
            </div>
            Mas temas
        </div>

        <div class="col-2">
            <div>
                <i class="fa fa-tint" aria-hidden="true"></i>
            </div>
            Transparencia
        </div>
        <div class="col-1">
            <div>
                <i class="fa fa-th" aria-hidden="true"></i>
            </div> 
            Junta
        </div>
        <div class="col-1">
            <div>
                <i class="fa fa-laptop" aria-hidden="true"></i>
            </div>
            Servicios
        </div>
        <div class="col-1"> 
            <div>
                <i class="fa fa-newspaper" aria-hidden="true"></i>
            </div>
            Noticias
        </div>
    </div>
</div>