<div class="container-fluid bg-primary" 
         style="background-image: url(/assets/recomendador-encontrar-empleo%E2%80%9302-marzo-2023.jpg);
         background-size: cover; background-attachment: fixed;">
        <div style="height: 400px; padding-top:10%;">
            <div class="center-block" style="background-color:rgba(255,255,255,.85); width: 60%; height: 200px; margin:auto; padding-top:4%;">
                <div class="container" style="text-align: center;">
                    <div style="margin-bottom:15px;">¿En que podemos ayudarte?</div>
                    <input type="text" placeholder="cita previa" style="border:1px solid green; width: 80%; height: 40px;"> 
                    <button class=" btn bg-success" style="height: 40px;">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>